<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <!-- // 在应用的AndroidManifest.xml添加如下<queries>标签 -->
    <queries>
        <package android:name="com.mc.driver.client" /> <!-- // 指定微信包名 -->
    </queries>

    <application>
        <activity
            android:name="uts.sdk.modules.mcWechatSdk.WXEntryActivity"
            android:exported="true"
            android:taskAffinity="com.mc.driver.client"
            android:launchMode="singleTask">
        </activity>

        <activity-alias
            android:name="com.mc.driver.client.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="uts.sdk.modules.mcWechatSdk.WXEntryActivity">
        </activity-alias>
    </application>

</manifest>